body {
	background-color: gray;
}

.showHideMyButtCont, .showHideCompButtonsCont, .showHideForKidsCont, .showHideForHospCont{
	height: 30px;
	max-width: 500px;
	margin: auto;
	background-color: black;
}

#showHideMyButt, #showHideCompButtons, #showHideForKids, #showHideForHosp {
	background-color: black;
	color: white;
	display: block;
    margin: 0 auto;
	width: 130px;
	height: 30px;
	border: none;
}
#showHideMyButt:hover, #showHideCompButtons:hover, #showHideForKids:hover, #showHideForHosp:hover{
	background-color: gray;
}

p{
	text-align: center;
}

.myButt:hover, .comButt:hover, .kidButt:hover, .hospButt:hover{
	opacity: 0.8;
}
/*
.myButt:active{
	opacity: 0.7;
	box-shadow: 0 5px #666;
	transform: translateY(-2px)
}
*/
.header{
	text-align: center;
}




